#### Завантаження файлів і необхідних бібліотек та csv файлів

In [102]:
from IPython.display import display
import pandas as pd
df = pd.read_csv('./adult.data.csv')
from IPython.core.interactiveshell import InteractiveShell


InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 1000)

#### Перевірка 1, 2, 3

In [82]:
display(df.head(10))

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
935,37,Private,176900,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,>50K
1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
1887,55,Self-emp-not-inc,184425,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
3578,37,Self-emp-inc,382802,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
4086,50,?,174964,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,99,United-States,<=50K
4308,35,Self-emp-not-inc,166416,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
4441,43,Self-emp-inc,286750,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
5376,43,Private,86750,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,<=50K
5432,44,Private,83508,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Female,2354,0,99,United-States,<=50K
6618,27,Private,336951,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,<=50K
6898,53,Self-emp-not-inc,151159,10th,6,Married-spouse-absent,Transport-moving,Not-in-family,White,Male,0,0,99,United-States,<=50K
8072,44,Self-emp-not-inc,26669,Assoc-acdm,12,Married-civ-spouse,Other-service,Wife,White,Female,0,0,99,United-States,<=50K
8393,50,Self-emp-inc,119099,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
8654,30,Private,103596,HS-grad,9,Never-married,Protective-serv,Not-in-family,White,Male,0,0,99,United-States,<=50K
8796,39,Private,70995,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,15024,0,99,United-States,>50K
9811,28,Private,27956,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,99,Philippines,<=50K
9831,67,Private,35015,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,99,United-States,<=50K
10143,35,?,164866,10th,6,Divorced,?,Not-in-family,White,Male,0,0,99,United-States,<=50K
10266,56,Self-emp-inc,184598,9th,5,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,<=50K
10468,44,Self-emp-not-inc,277783,Masters,14,Never-married,Farming-fishing,Own-child,White,Male,0,0,99,United-States,<=50K
10986,38,Private,111499,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,1977,99,United-States,>50K
11833,58,Private,164857,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,99,United-States,<=50K
12209,53,Self-emp-not-inc,162576,7th-8th,4,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,99,United-States,<=50K
12625,51,Private,160724,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,99,South,<=50K
12788,24,State-gov,208826,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,England,<=50K
13558,38,Private,191103,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,United-States,>50K
13580,38,Self-emp-not-inc,112158,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,<=50K
13617,49,Private,173115,10th,6,Separated,Exec-managerial,Not-in-family,Black,Male,4416,0,99,United-States,<=50K
13858,37,Private,51264,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,France,>50K
14593,27,Private,179915,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Female,0,0,99,United-States,<=50K
15016,62,Private,272209,HS-grad,9,Divorced,Priv-house-serv,Unmarried,Black,Female,0,0,99,United-States,<=50K
15180,25,Private,356017,11th,7,Never-married,Other-service,Not-in-family,White,Male,0,0,99,United-States,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
15460,37,Private,241174,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,United-States,>50K
15534,29,Private,167716,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,99,United-States,<=50K
16604,73,Self-emp-not-inc,102510,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,6418,0,99,United-States,>50K
16868,53,Private,178356,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,2407,0,99,United-States,<=50K
16992,19,Private,121074,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,<=50K
17611,28,Self-emp-not-inc,104617,7th-8th,4,Never-married,Other-service,Other-relative,White,Female,0,0,99,Mexico,<=50K
18603,33,Self-emp-not-inc,67482,Assoc-voc,11,Divorced,Other-service,Unmarried,White,Female,0,0,99,United-States,<=50K
18881,43,Private,249771,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,99,United-States,<=50K
19053,27,Private,40295,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,0,0,99,United-States,<=50K
19141,59,Private,106748,7th-8th,4,Married-civ-spouse,Other-service,Wife,White,Female,0,0,99,United-States,<=50K
19399,39,Self-emp-inc,163057,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,99,United-States,<=50K
19529,38,Private,66326,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,<=50K
19731,34,Federal-gov,345259,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,United-States,<=50K
19997,72,Private,268861,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,99,?,<=50K
20036,61,Self-emp-inc,102191,Masters,14,Widowed,Exec-managerial,Unmarried,White,Female,0,0,99,United-States,<=50K
21056,64,Local-gov,142166,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,<=50K
21147,39,Private,348521,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,99,United-States,>50K
22216,45,Private,54260,Some-college,10,Divorced,Craft-repair,Unmarried,White,Male,0,0,99,United-States,<=50K
22313,26,Self-emp-not-inc,258306,10th,6,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
22557,55,Self-emp-not-inc,95149,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,<=50K
22720,39,Private,237713,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,2415,99,United-States,>50K
23179,31,Private,511289,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,2907,0,99,United-States,<=50K
23226,51,Self-emp-not-inc,88528,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,99,United-States,<=50K
23398,66,Private,28367,Bachelors,13,Married-civ-spouse,Priv-house-serv,Other-relative,White,Male,0,0,99,United-States,<=50K
23649,45,Private,390368,Some-college,10,Married-civ-spouse,Sales,Husband,Black,Male,15024,0,99,United-States,>50K
23830,45,Self-emp-not-inc,106110,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,99,United-States,<=50K
24483,39,Self-emp-inc,124685,Masters,14,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,99,Japan,>50K
25354,65,Private,89681,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,99,United-States,<=50K
25713,32,Private,183304,Assoc-voc,11,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,>50K
25806,49,?,31478,7th-8th,4,Married-civ-spouse,?,Husband,White,Male,0,0,99,United-States,<=50K
25831,31,Private,147284,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,99,United-States,>50K
25986,44,Local-gov,212665,Some-college,10,Married-civ-spouse,Protective-serv,Husband,Black,Male,0,0,99,United-States,<=50K
26250,36,Self-emp-not-inc,257250,Assoc-voc,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
26596,35,Private,297574,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
26638,55,Self-emp-not-inc,185195,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,<=50K
26858,66,Private,262285,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,United-States,<=50K
27222,32,Local-gov,113838,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,99,United-States,<=50K
27764,38,Self-emp-not-inc,152621,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
27809,30,Private,39386,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,99,United-States,<=50K
28112,61,?,158712,HS-grad,9,Divorced,?,Not-in-family,White,Female,0,0,99,United-States,<=50K
29187,31,Private,178370,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,99,United-States,>50K
29751,51,Self-emp-not-inc,32372,12th,8,Married-civ-spouse,Other-service,Husband,White,Male,0,0,99,United-States,<=50K
29989,43,Local-gov,118853,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,4386,0,99,United-States,>50K
30036,40,Private,25005,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,99,United-States,>50K
30610,51,Self-emp-not-inc,24790,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
30754,31,Private,33124,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,United-States,<=50K
30766,42,Self-emp-not-inc,39539,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
30992,40,Self-emp-inc,104235,Masters,14,Never-married,Other-service,Own-child,White,Male,0,0,99,United-States,<=50K
31681,43,Private,266324,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,99,United-States,>50K
31699,43,Self-emp-not-inc,163108,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K

#### 1. Скільки чоловіків і жінок (ознака sex) представлено в цьому наборі даних?

In [71]:
df.groupby('sex')['sex'].value_counts()


# df.groupby('sex').value_counts()

sex
Female    10771
Male      21790
Name: count, dtype: int64

#### 2. Який середній вік (ознака age) жінок?

In [19]:
female_data = df[df['sex'] == 'Female']

female_data['age'].mean()

36.85823043357163

#### 3. Яка частка громадян Німеччини (ознака native-country)?

In [21]:
germany_count = df[df['native-country'] == 'Germany'].shape[0]

total_count = df.shape[0]

share_German = germany_count/total_count

share_German

0.004207487485028101

#### 4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary) і тих, хто отримує менше 50K в рік?

In [59]:
filter_data = df[(df['salary'] == '<=50K') | (df['salary'] == '>50K')]

group_salary = filter_data.groupby('salary')

result = group_salary['age'].agg(['mean', 'std'])

result

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

#### 6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters чи Doctorate)

In [65]:
# на це питання дам відповідь формою відображення даних, в яких якщо система знайде хоч одне значення 
# people(salary >50K && (education !== Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters чи Doctorate))
# якщо хоч одну таку людину знайду, що заробляє 50К та має освіту нижче Bachelor, то це неправда, в нашому випадку якщо серед переліку кінцевий резултат буде count() > 0, то це неправда

desired_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

filter_lower_education = df[~df['education'].isin(desired_education)]

filter_50K = df[df['salary'] == '>50K']

filter_50K.shape[0]

# таких людей із освітою нижче університетською 7841 значаить це неправда, що люди, які отримують більше 50k, мають як мінімум вищу освіту

7841

 #### 7. Вивести статистику віку для кажної раси (ознака race) і кожної статі. Використовуйте groupby і describe. Знайдіть таким чином максимальний вік чоловіків раси Amer-Indian-Eskimo.

In [13]:
# Щоб дістатися до потрібних даних max для Amer-Indian-Eskimo, групуємо за віком та гендером

grouped_data = df.groupby(['race', 'sex'])['age'].describe()

# За допомогою loc дістаємось до даних де рядки є в групі:  Amer-Indian-Eskimo та Male і мають колонку max

max_age_amer_indian_male = grouped_data.loc[('Amer-Indian-Eskimo', 'Male'), 'max']

max_age_amer_indian_male

82.0

#### 8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? 
#### Одруженими вважаємо тих, у кого *marital-status* починається з *Married* 
#### (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [41]:
# Фільтр: лише чоловіки

sex_male_much50K = df[(df['sex'] == 'Male') & (df['salary'] == '>50K')]


# Створюємо новий стовпець для групування на групи холостий-одружений "Status"
sex_male_much50K['Status'] = sex_male_much50K['marital-status'].apply(lambda name: 'Married' if name[:7] == 'Married' else 'Bachelor')

# Групування на холостих та одружених
group_married = sex_male_much50K.groupby(['Status'])['salary'].describe()

group_married.loc[['Bachelor', 'Married'], 'freq']

# Статистика даних показала, що одружені мають більшу частку зарплати вище 50К ніж холостяки

C:\Users\Богдан\AppData\Local\Temp\ipykernel_5644\1767704836.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_male_much50K['Status'] = sex_male_much50K['marital-status'].apply(lambda name: 'Married' if name[:7] == 'Married' else 'Bachelor')

Status
Bachelor     697
Married     5965
Name: freq, dtype: object

#### 9. Яку максимальну кількість годин людина працює за тиждень (ознака hours-per-week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?

In [92]:
#Значення макс кількість годин, що є в таблиці
maxWork = df['hours-per-week'].max()

#Фільтр працюючих понаднормово
totalMaxWork = (df[df['hours-per-week'] == maxWork])

countTotalHour = totalMaxWork['hours-per-week'].count()


#Фільтр працюючих понаднормово і заробляють більше 50К
totalMaxWork50K =(df[(df['hours-per-week'] == maxWork) & (df['salary'] == '>50K')])

countTotalMaxWork50K = totalMaxWork50K['hours-per-week'].count()

#Відсоток, хто працює понаднормово та заробляє більше 50К

result= (countTotalMaxWork50K/countTotalHour)*100

result

29.411764705882355

#### 10. Підрахуйте середній час роботи (hours-per-week) заробляючих мало і багато (salary) для кожної країни (native-country).

In [108]:
#Групування, хто заробляє багато, а хто мало по кожній країні та вивід середнього значення за hours-per-week

result = df.groupby(['salary', 'native-country'])['hours-per-week'].mean()

display(result)

salary  native-country
<=50K   ?                             40.164760
        Cambodia                      41.416667
        Canada                        37.914634
        China                         37.381818
        Columbia                      38.684211
        Cuba                          37.985714
        Dominican-Republic            42.338235
        Ecuador                       38.041667
        El-Salvador                   36.030928
        England                       40.483333
        France                        41.058824
        Germany                       39.139785
        Greece                        41.809524
        Guatemala                     39.360656
        Haiti                         36.325000
        Holand-Netherlands            40.000000
        Honduras                      34.333333
        Hong                          39.142857
        Hungary                       31.300000
        India                         38.233333
        Iran                          41.440000
        Ireland                       40.947368
        Italy                         39.625000
        Jamaica                       38.239437
        Japan                         41.000000
        Laos                          40.375000
        Mexico                        40.003279
        Nicaragua                     36.093750
        Outlying-US(Guam-USVI-etc)    41.857143
        Peru                          35.068966
        Philippines                   38.065693
        Poland                        38.166667
        Portugal                      41.939394
        Puerto-Rico                   38.470588
        Scotland                      39.444444
        South                         40.156250
        Taiwan                        33.774194
        Thailand                      42.866667
        Trinadad&Tobago               37.058824
        United-States                 38.799127
        Vietnam                       37.193548
        Yugoslavia                    41.600000
>50K    ?                             45.547945
        Cambodia                      40.000000
        Canada                        45.641026
        China                         38.900000
        Columbia                      50.000000
        Cuba                          42.440000
        Dominican-Republic            47.000000
        Ecuador                       48.750000
        El-Salvador                   45.000000
        England                       44.533333
        France                        50.750000
        Germany                       44.977273
        Greece                        50.625000
        Guatemala                     36.666667
        Haiti                         42.750000
        Honduras                      60.000000
        Hong                          45.000000
        Hungary                       50.000000
        India                         46.475000
        Iran                          47.500000
        Ireland                       48.000000
        Italy                         45.400000
        Jamaica                       41.100000
        Japan                         47.958333
        Laos                          40.000000
        Mexico                        46.575758
        Nicaragua                     37.500000
        Peru                          40.000000
        Philippines                   43.032787
        Poland                        39.000000
        Portugal                      41.500000
        Puerto-Rico                   39.416667
        Scotland                      46.666667
        South                         51.437500
        Taiwan                        46.800000
        Thailand                      58.333333
        Trinadad&Tobago               40.000000
        United-States                 45.505369
        Vietnam                       39.200000
        Yugoslavia                    49.500000
Name: hours-per-week, dtype: float64